<section class="counter">
    <div>
        <img src="" alt="">
        <h2></h2>
    </div>
    <div>
        <img src="" alt="">
        <h2></h2>
    </div>
    <div>
        <img src="" alt="">
        <h2></h2>
    </div>
</section>