<footer class="footer">
	<div class="footer__columns">
			<div class="footer__column footer__column_copyright">
					<div class="logo logo_footer">
						<h3>Helping Nature</h3>
					</div>
					<p class="footer__autor">©2019,Софья</p>
			</div>
			<div class="footer__all">
				<div class="footer__column footer__column_info">
					<h4 class="footer__column-heading">О сайте</h4>
					<ul class="footer__column-links">
						<li> <a class="footer__menu-link link" href="#">Главная</a></li>
						<li> <a class="footer__menu-link link" href="#">Концепция</a></li>
						<li> <a class="footer__menu-link link" href="#">Наставники</a></li>
					</ul>
				</div>
				<div class="footer__column footer__column_social">
					<h4 class="footer__column-heading">Соцсети</h4>
					<ul class="footer__column-links">
						<li class="social"> 
							<a class="social__link link" href="#"><img src="../img/facebook_white.svg" alt=""> Facebook</a>
						</li>
						<li class="social"> 
							<a class="social__link link" href="#"><img src="../img/instagram_white.svg" alt=""> Instagram</a>
						</li>
						<li class="social"> 
							<a class="social__link link" href="#"><img src="../img/vk_white.svg" alt=""> ВКонтакте</a>
						</li>
					</ul>
			</div>
		  </div>
	</div>
</footer>